spec:
  secretName: $secretName
  duration: 2160h
  renewBefore: 360h
  subject:
    organizations:
      - $namespace

  commonName: $commonName
  isCA: false
  privateKey:
    algorithm: RSA
    encoding: PKCS1
    size: 2048
  usages:
    #foreach($usage in $usagesList)
    - $usage
    #end

  dnsNames:
    #foreach($dnsName in $dnsNameList)
    - $dnsName
    #end
  issuerRef:
    name: selfsigned-issuer
    kind: Issuer
    group: cert-manager.io

  keystores:
    jks:
      create: true
      passwordSecretRef:
        name: $passwordSecretRef
        key: password
