{{#printBreakingChanges commits}}{{/printBreakingChanges}}
## What's Changed

{{#commits}}
    {{#ifMatches messageTitle ".*[bB]ump .*"}}
    {{else}}
        {{#printCommit .}}{{/printCommit}}
    {{/ifMatches}}
{{/commits}}

## Dependency updates

{{#commits}}
    {{#ifMatches messageTitle ".*[bB]ump .*"}}
        {{#printCommit .}}{{/printCommit}}
    {{/ifMatches}}
{{/commits}}
